.navbar{
  height: 80px;
  .wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      .logo{
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-decoration: none;
      }
    }
    .right{
      display: flex;
      align-items: center;

      .icons{
        display: flex;
        gap:15px;
        color:grey;
        cursor:pointer;
        .cartIcon{
          position:relative;
          span{
            font-size:12px;
            width:20px;
            height: 20px;
            border-radius:50%;
            background-color:teal;
            color:white;
            position:absolute;
            right:-10px;
            top:-10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
